#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.button {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5.5vw;
  height: 5vw;
}
.hidden {
  display:none
}